Repository illumitata/kinorails, pull requests merged in 2018-11, with the labels that each got.

#4 dodaje nasza specyfikacje
  SpecyfikacjaWymaganProjektu.pdf
Labels: help wanted

#6 Dodanie harmonogramu sprintu
  Dokumentacja/.~lock.SpecyfikacjaWymaganProjektu.odt#
  Dokumentacja/SprintPierwszy.docx
  Dokumentacja/SprintPierwszy.pdf
Labels: DOKUMENTACJA

#8 Dodanie diagramów sekwencji
  Dokumentacja/Diagramy sekwencji/favourite_movie_add_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/favourite_movie_delete_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/login_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/logout_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/movie_add_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/movie_delete_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/movie_edit_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/registration_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/reservation_cancelation_user_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/reservation_guest_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/reservation_user_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/room_add_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/room_delete_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/screening_add_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/screening_delete_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/screening_edit_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/user_delete_sequence_diagram.pdf
  Dokumentacja/Diagramy sekwencji/user_edit_sequence_diagram.pdf
Labels: DOKUMENTACJA

#7 Dodanie diagramu klas
  Dokumentacja/Diagramy przypadków użycia/admin_usecases_diagram.png
  Dokumentacja/Diagramy przypadków użycia/user_usecases_diagram.png
  Dokumentacja/SpecyfikacjaWymaganProjektu.odt
  Dokumentacja/SpecyfikacjaWymaganProjektu.pdf
  Dokumentacja/admin-diagram.png
  Dokumentacja/class_diagram.pdf
Labels: DOKUMENTACJA

#10 Zmiana wersji Ruby w Gemfile
  kinorails_app/Gemfile
Labels: INNE
